#sub_Ranking {
  width: 950px;
  margin: 0 auto;
}
#sub_Ranking .subpg_title1 {
  font-size: 9pt;
  margin: 15px 0;
}
#sub_Ranking .box_wrap {
  width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sub_Ranking .box_wrap .boxs {
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
}
#sub_Ranking .box_wrap .boxs .box {
  width: 130px;
}
#sub_Ranking .box_wrap .boxs .box img {
  width: 120px;
  border-radius: 4px;
}

.sub_txt {
  font-size: 10pt;
}