@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0 auto;
}
header {
  width: 1200px;
  height: 96px;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  z-index: 10;
  background-color: white;
}
.title1 {
  font-size: 13pt;
  font-weight: bold;
  padding: 15px 0;
}
#Menu_wrap {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  li {
    width: 100%;
    padding-left: 37px;
    font-size: 15px;
    font-weight: bold;
  }
  a {
    color: black;
  }
}
// 검색내역 시작
#Search_wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 50px;

  .Search {
    width: 177px;
    border: 1px solid rgba(156, 156, 156, 0.226);
    border-radius: 30px;
    padding: 9px;
    font-size: 11.2px;
  }
  .Search::placeholder {
    color: rgb(146, 146, 146);
  }
  .Search:focus {
    outline: none;
  }
  .Magnifier {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translateX(100%);
  }
  .event1 {
    width: 145px;
    img {
      width: 100%;
      margin-left: 10px;
    }
  }
  .event2 {
    margin-left: 25px;
  }
  #shwrap {
    width: 260px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 125%;
    left: 0%;
    z-index: 100;
    .sh_word {
      width: 100%;
      display: flex;
      justify-content: center;
      div {
        padding: 15px 20px;
        font-size: 15px;
        border-bottom: 1px solid rgb(220, 220, 220);
        cursor: pointer;
      }
      .sh_border_line {
        border-bottom: 2px solid black;
        font-weight: bold;
      }
    }
    // sh.word end

    // 세부검색내역
    #shbox_wrap {
      width: 100%;
      .shbox_new {
        width: 100%;
        height: 470px;
        span {
          font-size: 12px;
          line-height: 450px;
          display: flex;
          justify-content: center;
        }
      }
      .Sh_history {
        width: 100%;
        height: 485px;
        .history_list {
          width: 100%;
          height: 95%;
          font-weight: bold;
          font-size: 9pt;
          line-height: 53px;
        }
      }
      .Sh_close_box {
        width: 100%;
        height: 30px;
        border-radius: 0 0 10px 10px;
        background: rgb(231, 231, 231);
        font-size: 9pt;
        position: absolute;
        right: 0%;
        bottom: 0%;
        text-align: right;
        span {
          line-height: 30px;
          margin: 0 10px;
          cursor: pointer;
        }
      }
      .sh_close:hover {
        opacity: 0.8;
        color: #8f8c8ccf;
      }
    }
    .listlist {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 10px;
      span {
        margin: 10px;
        line-height: 25px;
      }
    }
    .txt {
      font-weight: 100;
    }
    .listlist:hover {
      background-color: #f0f0f0;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  // 박스 디스플레이 보여지게
  .offbox {
    display: none;
  }
  .onbox {
    display: block;
  }
}
// 검색내역 끝
#wrap {
  width: 100%;
  .sub_wrap {
    width: 993px;
    margin: 0 auto;
    padding: 25px 72px 25px 120px;

    .sub_tab {
      display: flex;
      justify-content: flex-start;
      .icon_tab {
        border: 1px solid rgb(214 214 214 / 54%);
        border-radius: 18px;
        padding: 6px 12px 8px;
        text-align: center;
        font-size: 8.8pt;
        margin-right: 3px;
      }
    }
  }
}
.sub_close a:hover {
  background: black;
  color: white;
}
.on {
  border: none;
  background: black;
  color: white;
  border-radius: 18px;
  padding: 6px 12px 8px;
  text-align: center;
  font-size: 8.8pt;
  margin-right: 3px;
}
#slide {
  width: 950px;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  .prev {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 40%;
    left: 0%;
    color: #fff;
    display: block;
    transform: translateX(50%);
    background-color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    z-index: 5;
  }
  .next {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 40%;
    right: 0%;
    color: #fff;
    display: block;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    z-index: 5;
  }
  .slide_count {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    b {
      color: white;
    }
    span {
      color: white;
    }
  }
}
.panel {
  width: 3800px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  li {
    width: 950px;
    height: 250px;
    b {
      position: absolute;
      bottom: 0;
      right: 3%;
      color: white;
      font-size: 16px;
      transform: translate(-100%, -50%);
      //   opacity: 0;
      &.show {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.prev,
.next:hover {
  cursor: pointer;
}
#New {
  width: 950px;
  height: 310px;
  margin: 0 auto;
  .box_wrap {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .boxs {
      position: relative;
      .box {
        width: 150px;
        height: 200px;
        text-align: center;
        img {
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }
}
#wait {
  width: 950px;
  height: 310px;
  margin: 20px auto;
  .box_wrap {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .boxs {
      position: relative;
      .box {
        width: 150px;
        height: 200px;
        text-align: center;
        border-radius: 3px;
        img {
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }
}
#popularity {
  width: 950px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  //   background-color: skyblue;
  .attention {
    width: 465px;
    height: 258px;
    position: relative;
    .little_title {
      position: absolute;
      bottom: 4%;
      left: 3%;
      h2 {
        font-size: 17pt;
        max-width: 90px;
        color: white;
      }
      .mx {
        max-width: 100%;
      }
      .sub-title {
        font-size: 8pt;
        color: rgba(255, 255, 255, 0.572);
        margin-top: 50px;
      }
      span {
        font-size: 8pt;
        color: white;
        margin: 3px;
      }
      img {
        width: 15px;
      }
      .badge {
        width: 45px;
      }
      .little_little {
        display: flex;
      }
    }
    img {
      width: 100%;
      border-radius: 3px;
    }
  }
  .title2 {
    width: 950px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

#update_bk {
  width: 950px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  .box_wrap {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .boxs {
      position: relative;
      .box {
        width: 150px;
        height: 200px;
        text-align: center;
        border-radius: 4px;
        img {
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }
}
#event_wrap {
  width: 950px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  .attention2 {
    width: 465px;
    height: 258px;
    img {
      width: 100%;
    }
  }
  .title3 {
    width: 950px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.banner_dl {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
footer {
  width: 950px;
  height: 150px;
  margin: 0 auto;
  padding: 50px;
  .Introduction {
    font-size: 10pt;
  }
  .Information_bottom {
    font-size: 9pt;
    line-height: 20px;
    color: #8f8c8ccf;
  }
}
//도서 타이틀, 작가이름
.bk_1 {
  font-size: 9pt;
  display: flex;
}

.ft_color {
  color: #8f8c8ccf;
  text-decoration: underline;
}
