@charset "UTF-8";
#sub_Ranking {
  width: 950px;
  margin: 0 auto;
  .subpg_title1 {
    font-size: 9pt;
    margin: 15px 0;
  }
  .box_wrap {
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .boxs {
      width: 400px;
      height: 200px;
      position: relative;
      display: flex;
      align-items: center;
      .box {
        width: 185px;
        img {
          width: 120px;
          border-radius: 4px;
        }
      }
    }
  }
}
.sub_txt {
  font-size: 10pt;
}
