@charset "UTF-8";

#sub_group {
  width: 950px;
  margin: 0 auto;
  .box_wrap {
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .boxs {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    .box {
      width: 140px;
      margin: 6px;
      img {
        width: 140px;
        border-radius: 4px;
      }
    }
  }
  .boxs .bk_activebox {
    display: none;
  }
}
.hides {
  display: none;
}
.sub_txt {
  font-size: 10pt;
}
#bk_group_wrap {
  width: 950px;
  margin: 0 auto;
  .bk_group_all {
    display: flex;
    border-bottom: 1px solid black;
    align-items: baseline;
    .bk_group {
      margin: 10px;
      font-size: 10pt;
      cursor: pointer;
    }

    .bk_activebox {
      width: 40px;
      height: 25px;
      border: 1px solid rgba(224, 224, 224, 0.6);
      background-color: rgba(224, 224, 224, 0.6);
      border-radius: 15px;
      color: black;
      text-align: center;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 5px;
    }
  }
}
#bk_num_date_wrap {
  width: 950px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .bk_group_num {
    font-size: 9pt;
    margin: 15px 0;
  }
  .bk_group_update {
    font-size: 9pt;
    margin: 15px 0;
  }
}
.bk_popup_box_wrap {
  #background_popup {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.755);
    z-index: 150;
    #bk_group_popup {
      width: 350px;
      height: 200px;
      border: 1px solid white;
      border-radius: 30px;
      display: flex;
      position: absolute;
      flex-flow: column nowrap;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      z-index: 150;
      overflow: hidden;
      .bk_group_sel {
        width: 100%;
        height: 90px;
        padding: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11pt;
      }
      .bk_sel {
        padding-left: 50px;
      }
      .bk_line {
        border-top: 1px solid rgba(128, 128, 128, 0.198);
        line-height: 0px;
        a {
          color: rgba(128, 128, 128);
        }
      }
    }
  }
}
.box_none {
  display: none;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
