@charset "UTF-8";

.content_wrap {
  margin: 0 auto;
  width: 952px;
  height: 1200px;
  .details_wrap {
    display: flex;
    flex-wrap: wrap;
    .details_box1 {
      width: 320px;
      overflow: hidden;
      position: relative;
      .bk_bg_bg {
        height: 592px;
        background-color: #f7f7f7;
        margin-bottom: 5px;
        display: flex;
        flex-wrap: wrap;
      }
      .bk_bg_img {
        width: 320px;
        height: 320px;
        filter: blur(8px);
        position: relative;
        overflow: hidden;
        img {
          width: 325px;
          height: 325px;
        }
      }
      .bk_bg_img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        opacity: 0.3;
      }
      .bk_img1 {
        position: absolute;
        top: 4.2%;
        left: 24.5%;
        img {
          width: 160px;
          height: 228px;
        }
      }
      .bk_bg_blur {
        content: "";
        height: 238px;
        position: absolute;
        top: 7%;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(242, 242, 242));
      }
      .bk_text {
        width: 256px;
        height: 249px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        z-index: 1;
      }
      .bk_viewer {
        width: 256px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        img {
          margin-right: 0.1875rem;
        }
        .bk_view_num {
          font-size: 9pt;
        }
      }
      .bk_view_txt {
        width: 256px;
        height: 37.59px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 8px;
        span {
          font-size: 8pt;
          color: rgb(110, 110, 110);
        }
      }
      .bk_icon_wrap {
        display: flex;
        height: 50px;
        align-items: flex-end;
        .bk_view_good1 {
          cursor: pointer;
          display: none;
        }
        .bk_view_good2 {
          cursor: pointer;
          display: none;
        }
        .active {
          display: block;
          padding: 5px;
        }
      }
      .bk_view_good1:active img {
        opacity: 0.5;
      }
      .good_icon_1:active {
        opacity: 0.5;
      }
      .good_icon_2:active {
        opacity: 0.5;
      }
      .bk_buy_button {
        width: 256px;
        height: 56px;
        background-color: rgb(255 186 81);
        border-radius: 3px;
        margin-top: 20px;
        .bk_buy_button_a {
          display: inline-block;
        }
      }
      .bk_buy_txt {
        height: 56px;
        font-size: 8.5pt;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .details_box2 {
      width: 628px;
      height: 100%;
      margin-bottom: 5px;
      margin-left: 4px;
    }
    .height_modify {
      height: 1222px;
    }
    .bk_breakdown {
      width: 320px;
      height: calc(100% - 632px);
      background-color: #f7f7f7;
      margin-bottom: 5px;
      .License_wrap {
        display: flex;
        align-items: center;
        font-size: 9pt;
        padding: 10px;
        img {
          margin: 10px;
        }
        .charging_button {
          width: 70px;
          height: 27px;
          background-color: rgb(255 186 81);
          border-radius: 3px;
          text-align: center;
          line-height: 26px;
          margin-left: 46px;
          span {
            font-size: 8pt;
          }
        }
        .tiket_line {
          width: 1px;
          height: 10px;
          margin: 5px;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
      .under_line {
        text-decoration: underline;
        font-size: 8pt;
        margin-left: 20px;
        span {
          color: #999999;
        }
      }
    }
  }

  .details_box_tab {
    width: 100%;
    height: 492px;
    background-color: #f7f7f7;
    margin-bottom: 3px;
    overflow: hidden;
  }
  .tab_menu_wrap {
    display: flex;
    width: 200px;
    height: 85px;
    justify-content: space-evenly;
    align-items: center;
  }

  .tab_menu_wrap2 {
    display: flex;
    width: 200px;
    height: 60px;
    padding-left: 2rem;
    align-items: center;
    position: relative;
  }
  .tab_home {
    width: 100%;
    height: 100%;
  }
  .tab_hide {
    display: none;
  }
  .bk_Notice {
    padding: 1rem 2rem;
    .Notice_title{
        font-size: 11pt;
    }
  }
  .Notice_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
  }
  .tab_group_menu {
    min-width: 45px;
    min-height: 30px;
    border: 1px solid rgba(224, 224, 224);
    border-radius: 18px;
    color: black;
    text-align: center;
    font-size: 9pt;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .tab_group_menu2 {
    min-width: 45px;
    min-height: 30px;
    margin-left: 5px;
    border: 1px solid rgba(224, 224, 224);
    border-radius: 18px;
    color: black;
    text-align: center;
    font-size: 9pt;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .plus_bg_black {
    background-color: black;
    border: black;
    color: white;
  }

  .plus_padding {
    padding: 0px 12px;
  }
  .plus_padding2 {
    padding: 0px 7px;
  }

  .tab_menu_count {
    display: flex;
    width: 40px;
    height: 0;
    font-size: 8pt;
    justify-content: space-evenly;
    margin-left: 6px;
    color: #999999;
  }

  .tab_menu_filter {
    display: flex;
    font-size: 8pt;
    justify-content: flex-end;
    img {
      margin: -2px;
      padding-right: 13px;
    }
  }

  .tab_menu_filter_sub1 {
    margin: 1px;
    span {
      margin-right: 2px;
    }
  }

  .bk_sub_img {
    display: flex;
    flex-direction: column;
  }

  .sub_boxs {
    display: flex;
    align-items: center;
  }
  .aaa {
    display: flex;
    align-items: center;
    img {
      margin: 20px 5px 0px 15px;
      height: 95px;
      border-radius: 5px;
    }
  }

  .box_num {
    line-height: 8px;

    p {
      font-size: 9pt;
      margin: 10px;
    }
    span {
      font-size: 8pt;
      color: #999999;
      margin: 10px;
    }
  }

  .box_num2 {
    line-height: 8px;

    p {
      font-size: 9pt;
      margin: 10px;
    }
    span {
      font-size: 8pt;
      color: #999999;
      margin: 10px;
    }
  }

  .space_down {
    margin: 10px;
  }

  .details_box_tab2 {
    width: 100%;
    height: 249px;
    background-color: #f7f7f7;
    margin-bottom: 3px;
    padding-top: 1.9375rem;
    .bk_slide_title {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 9pt;
      font-weight: bold;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  .swiper-wrapper {
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .swiper-slide img {
    width: 100px;
    border-radius: 5px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    margin-top: calc(0px - (var(--swiper-navigation-size) / 1.3));
    background-color: black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: "";
  }
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
  .bk_slide_txt {
    font-size: 8pt;
  }
  .details_box_tab3 {
    width: 100%;
    height: 249px;
    background-color: #f7f7f7;
    margin-bottom: 3px;
    padding-top: 1.9375rem;
    .bk_slide_title {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 9pt;
      font-weight: bold;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  .details_box_tab4 {
    width: 100%;
    background-color: #f7f7f7;
    margin-bottom: 30px;
  }
  .bk_Comments {
    display: flex;
    padding: 2rem 2rem 0.5rem 2rem;
    font-size: 9pt;
    font-weight: bold;
  }
  .bk_Search_wrap {
    position: relative;
  }
  .bk_Search_box {
    width: 526px;
    border-radius: 30px;
    border: 1px solid rgba(224, 224, 224);
    display: flex;
    background-color: #ededed;
    margin: 15px auto;
    padding: 13px;
    font-size: 9pt;
  }
  .bk_Search_box::placeholder {
    color: #999999;
  }
  .bk_Search_submit {
    width: 33px;
    height: 20px;
    position: absolute;
    right: 8%;
    top: 40%;
    color: #9c9c9c;
    font-size: 9pt;
    cursor: pointer;
  }
  .bk_Search_box:focus {
    outline: none;
  }
  .bk_Comments_page_wrap {
    width: 100%;
    height: 100%;
  }
  .bk_Comments_wrap {
    padding: 0 0.9375rem 0 0.9375rem;
  }
  .bk_Comment_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    .bk_profile {
      height: 8.8rem;
      padding: 10px 10px 0 20px;
      .bk_profile_img {
        width: 36px;
        height: 36px;
        border-radius: 50px;
        position: relative;
      }
    }
    .bk_Comment_user_ment {
      p {
        width: 520px;
        font-size: 9pt;
        margin-top: 10px;
      }
      .bk_name_day_sort {
        display: flex;
        justify-content: space-between;
        h5 {
          font-size: 10pt;
        }
      }
    }
    h5 {
      font-size: 12pt;
    }
    .bk_Comment_day {
      font-size: 9pt;
      color: #999999;
    }
    .bk_Comment_title {
      font-size: 8pt;
      color: #999999;
    }
    .bk_like_plus_wrap {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      .bk_like_wrap {
        display: flex;
        align-items: center;
        margin-top: 20px;
        img {
          width: 18px;
          margin: 2px;
        }
        span {
          font-size: 9pt;
          color: #999999;
          margin-right: 0.9375rem;
        }
      }
    }
  }
}
.bk_best_like_Comment {
  display: flex;
  flex-direction: column;
  height: 570px;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
}

.bk_profile_report {
  cursor: pointer;
}
.bk_Comment_list_num {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  span {
    font-size: 9pt;
    font-weight: bold;
    cursor: pointer;
  }
}

.bk_boundary_line_wrap {
  padding-right: 1rem;
  padding-left: 4.8125rem;
  .bk_boundary_line {
    width: 100%;
    height: 1px;
    background: #e3e3e3;
  }
}
// 팝업창
.bk_group_update {
  font-size: 8pt;
  margin: 15px 0;
  position: absolute;
  right: -100%;
  transform: translateX(300%);
  img {
    margin: 0px 0 -2px 0;
  }
}

.bk_popup_box_wrap {
  .background_popup {
    width: 100%;
    height: 2440px;
    position: absolute;
    background: rgba(0, 0, 0, 0.755);
    z-index: 150;
    .bk_group_popup {
      width: 350px;
      height: 200px;
      border: 1px solid white;
      border-radius: 30px;
      display: flex;
      position: absolute;
      flex-flow: column nowrap;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      z-index: 150;
      overflow: hidden;
      .bk_group_sel {
        height: 90px;
        padding: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11pt;
        cursor: pointer;
      }
      .bk_sel {
        padding-left: 50px;
      }
      .bk_line {
        width: 100%;
        border-top: 1px solid rgba(128, 128, 128, 0.198);
        line-height: 0px;
        a {
          color: rgba(128, 128, 128);
        }
      }
    }
  }
}

.box_none {
  display: none;
}

.stop-scrolling {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
